.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier Prime", monospace;
  font-size: 1.2rem;
  margin-top: 50px;
}

.block-container {
  margin-bottom: 50px;
  width: 700px;
  background-color: rgb(54, 49, 68);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.block-container li {
  padding-bottom: 15px;
  list-style-type: none;
}

.block-container li:hover {
  cursor: pointer;
  font-size: 1.5rem;
}

.block-container p {
  margin-left: 37px;
}

.upper-line {
  background-color: rgb(108, 110, 110);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
}

.upper-line i {
  display: flex;
  padding: 5px;
}

.red {
  color: #ff605c;
}

.yellow {
  color: #ffbd44;
}

.green {
  color: #00ca4e;
}

.super-color {
  color: #3deaa5;
}

@media (max-width: 900px) {
  .block-container {
    width: 80%;
  }
}
