.cv-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 50px;
}

.cv-box {
  width: "80%"; 
  height: "900px";
}

.cv {
  margin-top: 25px;
}

.download-button {
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 1.1rem;

  background-color: #1f1f1f;
  border: 2px solid #00d8fe;
  border-radius: 6px;
  padding: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.download-button:hover {
  cursor: pointer;
  background-color: #00d8fe;
}
